<main>
    <h3>List of products</h3>
    <div class="grid-container">
        {{#each products}}
        <div>
            <div class="grid-box">
                {{this.title}}
                <img src="/images/Book.jpeg" />
                <span class="mediumFont">Price: Rs {{this.price}} </span>
                <br />
                <span class="mediumFont trauncateText">{{this.description}}</span>
                <br />
                <form action="/product/{{this.id}}" method="GET">
                    <button class="submitbutton" type="submit">Details</button>
                </form>
                <br />
                <form action="/addToCart" method="POST">
                    <input type="hidden" name="productId" value="{{this.id}}" />
                    <button class="submitbutton" type="submit">Add to Cart</button>
                </form>
            </div>
        </div>
        {{/each}}
    </div>
</main>